<!-- home-page.component.html -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-xs-12">
  <div class="row">
    <!-- First Column -->
    <div class="col-md-6 col-xs-12">
      <div class="card mb-3" (click)="openHtmlModal()" style="cursor: pointer;">
        <img [src]="image.url" class="card-img-top" alt="Image">
      </div>
      <div class="card mb-3">
        <div class="card-body brouchures">
          <h5 class="card-header">Brochures</h5>
          <ul class="list-group">
            <button class="btn btn-light mb-1 w-100 text-left" *ngFor="let brochure of brochures">
              {{ brochure.text }}
              <mat-icon style="float: right;font-size: 16px;position: relative;top:4px;">arrow_forward_ios</mat-icon>

            </button>
          </ul>
        </div>
      </div>
    </div>

    <!-- Second Column -->
    <div class="col-md-6 col-xs-12">
      <div class="card mb-3 job-table">
        <div class="card-body">
          <h5 class="card-header">Job Advertisements</h5>
          <table class="table">
            <thead>
              <tr>
                <th>Role</th>
                <th>Department</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of jobAdvertisements">
                <td>{{ job.role }}</td>
                <td>{{ job.department }}</td>
                <td class="job-arrow">
                  <button (click)="openJobDetailModal(job.role, job.department, job.content)">
                    <mat-icon>arrow_forward_ios</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body voice">
          <h5 class="card-header">Redstar Voice</h5>
         
          <table class="table">
                
            <tbody>
              <tr *ngFor="let event of redstarVoice">
                <td>{{ event.text }}</td>
                <td>{{ event.date }}</td>
                <td class="text-right">
                  <mat-icon style="font-size: 16px;position: relative;top:4px;">arrow_forward_ios</mat-icon>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-header">Sample Documents</h5>
          <a href="#" class="d-block" style="color: blue;text-decoration: underline;" target="_blank">Click for access details to sample documents</a>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card exchange-rates job-table">
        <div class="card-body">
          <h5 class="card-header">Exchange Rates</h5>
          <div class="row">
            <div class="table-container col-md-8 col-xs-12">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Buying</th>
                    <th>Selling</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let rate of exchangeRates">
                    <td> <i class="flag {{rate.currency}}"></i>
                      {{ rate.currency }}</td>
                    <td>₺ {{ rate.buying }}</td>
                    <td>₺ {{ rate.selling }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-container col-md-4 col-xs-12">
            <table class="table job-table">
              <thead>
                <tr>
                  <th></th>
                  <th>Cross Rate</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let crossRate of crossRates">
                  <td>
                    <i class="flag {{crossRate.currency}}"></i>
                    {{ crossRate.pair }}</td>
                  <td>{{ crossRate.rate }}</td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>

    <!-- Third Column -->
    <div class="col-md-4">
      <div class="card box-item mb-3">
        <div class="card-body right-side-row">
          <h5 class="card-header sticky-header">On Leave</h5>
          <ul class="list-unstyled">
            <li *ngFor="let employee of onLeave" class="d-flex align-items-start mb-3">
              <img [src]="employee.image" alt="Employee Image" class="img-thumbnail mr-3" style="width: 120px; height: 120px; object-fit: cover;">
              <div style="margin-left: 10px;">
                <h5 class="mb-1"><b>{{ employee.name }}</b></h5>
                <p class="text-muted mb-1">{{ employee.position }}</p>
                <p class="mb-1" style="font-size: 12px;"><b>Start</b>: {{ employee.startDate }} | <b>End</b>: {{ employee.endDate }}</p>
                <p class="mb-1" style="font-size: 12px;"><b>Work Start</b>: {{ employee.workstart }}</p>

              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card box-item mb-3">
        <div class="card-body">
          <h5 class="card-header sticky-header">Planned Leave List</h5>
          <ul class="list-unstyled">
            <li *ngFor="let employee of plannedLeave" class="d-flex align-items-start mb-3">
              <img [src]="employee.image" alt="Employee Image" class="img-thumbnail mr-3" style="width: 120px; height: 120px; object-fit: cover;">
              <div style="margin-left: 10px;">
                <h5 class="mb-1"><b>{{ employee.name }}</b></h5>
                <p class="text-muted mb-1">{{ employee.position }}</p>
                <p class="mb-1" style="font-size: 12px;"><b>Start</b>: {{ employee.startDate }} | <b>End</b>: {{ employee.endDate }}</p>
                <p class="mb-1" style="font-size: 12px;"><b>Work Start</b>: {{ employee.workstart }}</p>

              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  
</div>
